{% extends "layouts/master.html" %}
{% block contenido %} 
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container"> <!--quitar fluid-->
            <a class="navbar-brand" href="#">Empresa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto"> <!--agregar ms-auto-->
                    <li class="nav-item">
                        <a class="nav-link active" href="">Site Web Django</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto </a>
                    </li>
                </ul>
            </div>
        </div>
     </nav>
{% endblock %}  

